<div class="header">
  <div class="nav-links">
    <a href="#" data-home-link>E</a>
    <a href="#" data-about-link>About</a>
  </div>

  <div class="menu">A</div>

  <div id="dropdown" class="dropdown">
    <a href="#" data-song-link>song of the day</a>
    <a href="#" data-special-link>my special content</a>
    <a href="#" data-songs-link>all songs</a>
    <a href="#" data-flip-link>flip</a>
    <a href="#" data-tarots-link>pathway</a>
    <a href="#" data-we-link>nevermind</a>
  </div>
</div>
